<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta charset="utf-8">
        <title>Your Favorite Shoes</title>
    </head>
    <body>
        <div class="container">

        <h1>Brands</h1>
         {% if all_brands is not empty %}
            <h3>Here are all the brands of your favorite shoes: </h3>
            <ul>
                {% for brand in all_brands %}
                    <li><a href="/brands/{{ brand.getId }}">{{ brand.getBrandName }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>Enter all your favorite shoe brands here:</h3>
        {% endif %}
        <form action="/brands{{ brand.getId }}" method="post">
            <label for="brand_name">Brand Name</label>
            <input id="brand_name" name="brand_name" type="text" placeholder="Brand Name" REQUIRED>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
        </br>
        <a href="/"><button class="btn btn-default">Home</button></a>

        </div>
    </body>
</html>
