<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <title>Your Favorite Shoes</title>
    </head>
    <body>
        <div class='container'>
            <h1>Always Know Where Your Favorite Shoes Are!</h1>

            <h3><a href="/stores">Add or view a Store</a></h3><br>
            <h3><a href="/brands">Add or view a Brand</a></h3>

        </div>
    </body>
    </html>
</html>
