<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/main.css">
        <title>Your Favorite Shoes</title>
    </head>
    <body>
        <div class="container">
            <div id="wrapper">
            <h1 id="header">Shoes Forever</h1>
                <p id="wrapper">Always know which stores are carrying your favorite brands!</p>
                <h3 id="content"><a href="/stores">Add or view a store</a></h3>
                <h3 id="content"><a href="/brands">Add or view a brand</a></h3>

        <div id="footer">
        <p>Kelli Margaret 2015</p>
        </div>
            </div>
        </div>
    </body>
</html>
