<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <title>Your Favorite Shoes</title>
    </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="header">Shoes Forever</h1>
                <p id="wrapper">Add a store or brand name to begin!</p>

                <div class="form-group">
                    <form action="/stores" method="post">
                        <label for="store_name">Store Name:</label>
                        <input type="text" name="store_name" id="store_name" class="form-control" placeholder="Enter Store Name">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </form>
                    <form action="/brands" method="post">
                        <label for="brand_name">Brand:</label>
                        <input type="text" name="brand_name" id="brand_name" class="form-control" placeholder="Enter Brand Name">
                        <button type="submit" class="btn btn-info">Submit</button>
                </div>

                <div class="container">
                    <p><a href="/stores">View Stores</a></p>
                </div>

                <div class="container">
                    <p><a href="/brands">View Brands</a></p>
                </div>

        <div id="footer">
        <p>Kelli Margaret 2015</p>
        </div>
            </div>
        </div>
    </body>
</html>
