<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Your Favorite Shoes</title>
</head>
    <body>
        <div class='container'>
            <h1>Find the right shoe store!</h1>

            <form action="/stores" method="post">
                <label for="store_name">New store:</label>
                <input type="text" name="store_name" id="store_name" class="form-control" placeholder="Enter Store Name">
                <button type="submit" class="btn btn-info">Submit</button>
        </div>
                <div class="panel-body">
                    {% if stores is not empty %}
                        <ul>
                            {% for store in stores %}
                                <li><a href='/stores/{{ store.getId }}'>{{ store.getStoreName }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>There are no stores yet!</p>

                    {% endif %}
                </div>
            </div>
        </div>
            <form action='/delete_stores' method='post'>
                <button type='submit' class='btn btn-danger'>Clear stores</button>
            </form>
            <a href="/"><button type="submit" class="btn btn-success">Home</button></a>
            </div>
        </div>
    </body>
</html>
